
body{
    width: 100vw;
    height: 100vh;
}
h1,footer{
    display: flex;
    justify-content: center;
}
div{
    display: flex;
    justify-content: center;
    height: 80vh;
}

.w,.a,.s,.d,.j,.k,.l{
    position: relative;
    top: 150px;
    width: 150px;
    height: 100px;
    
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

.w{
    background-image: url("/images/crash.png");
    background-size: 50px;
    background-repeat: no-repeat;
}
.a{
    background-image: url("/images/kick.png");
    background-size: 100px;
    background-repeat: no-repeat;
    
}
.s{
    background-image: url("/images/snare.png");
    background-size: 70px;
    background-repeat: no-repeat;

}
.d{
    background-image: url("/images/tom1.png");
    background-size: 100px;
    background-repeat: no-repeat;

}
.j{
    background-image: url("/images/tom1.png");
    background-size: 100px;
    background-repeat: no-repeat;

}
.k{
    background-image: url("/images/tom2.png");
    background-size: 100px;
    background-repeat: no-repeat;

}
.l{
    background-image: url("/images/tom3.png");
    background-size: 70px;
    background-repeat: no-repeat;

}

